.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 95vh;
}

.slide span {
  padding: 7px;
  margin-bottom: 50% ;
  /* margin-top: 47%; */
  /* margin-left: 85%; */
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Poppins';
  color: #cd1e56;
  /* color: white; */
  background: #FFF;
  text-align: center;
}
